<div class="wrapper" id="wrapper">
	<div class="documents-header">
		<div class="documents-header-left__arrow" (click)="back()">
			<span class="material-icons">arrow_back_ios</span>
		</div>
		<!-- Calendar -->
		<form [formGroup]="range">
			<mat-form-field appearance="fill">
				<mat-date-range-input [rangePicker]="picker">
					<input
						matStartDate
						formControlName="start"
						placeholder="Start data"
					/>
					<input
						matEndDate
						formControlName="end"
						placeholder="Finish data"
					/>
				</mat-date-range-input>
				<mat-datepicker-toggle
					matSuffix
					[for]="picker"
				></mat-datepicker-toggle>
				<mat-date-range-picker #picker></mat-date-range-picker>
			</mat-form-field>
		</form>
		<!-- Budget dropdown
		<wselect
			class="filter-dropdown"
			[items]="budgets"
			[select]="selectedBudgetId"
			valueKey="_id"
			labelKey="name"
			(modelChange)="onBudgetChange($event)"
			placeholder=""
		></wselect>-->

		<!-- unit dropdown -->

		<wselect
			class="filter-dropdown"
			[items]="units"
			[select]="selectedUnitId"
			valueKey="_id"
			labelKey="name"
			placeholder="Select Unit"
			(modelChange)="onUnitChange($event)"
		></wselect>

		<!--<div class="documents-header__title">wBudget</div>-->
	</div>

	<nav class="nav" (clickOutside)="showSidebar = false">
		<ul class="nav__ul container" [class._active]="showSidebar">
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/profile"
					class="nav__a"
				>
					<span class="material-icons">account_circle</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/dashboard"
					class="nav__a"
				>
					<span class="material-icons">dashboard</span>
				</a>
			</li>
			<!--<a
				[routerLinkActiveOptions]="{ exact: true }"
				routerLinkActive="_activeLink"
				routerLink="/budgets"
				class="nav__burger-link"
				(click)="hideSidebar()"
			>
				<span class="material-icons">account_balance_wallet</span>
			</a>-->

			<a
				[routerLinkActiveOptions]="{ exact: true }"
				routerLinkActive="_activeLink"
				routerLink="/budgets"
				class="budget-name"
				(click)="hideSidebar()"
			>
				{{ selectedBudgetName }}
			</a>

			<li class="nav__li">
				<button id="saveExpense" (click)="createTransaction()">
					+
				</button>
			</li>
		</ul>
	</nav>

	<div class="main" [class.showTable]="showSidebar">
		<router-outlet></router-outlet>
	</div>
</div>
