<div class="wrapper" id="wrapper">
	<div class="documents-header">
		<!-- Calendar -->
		<form [formGroup]="range">
			<mat-form-field appearance="fill" class="date-range-wrapper">
				<div class="date-range-field">
					<mat-date-range-input
						[rangePicker]="picker"
						class="range-input"
					>
						<input
							matStartDate
							formControlName="start"
							placeholder="Select"
						/>
						<input
							matEndDate
							formControlName="end"
							placeholder="date"
						/>
					</mat-date-range-input>
					<button
						class="button-calendar"
						type="button"
						*ngIf="range.value.start && range.value.end"
						(click)="clearDates()"
					>
						<span class="material-icons">close</span>
					</button>
					<mat-datepicker-toggle
						[for]="picker"
					></mat-datepicker-toggle>
					<mat-date-range-picker #picker></mat-date-range-picker>
				</div>
			</mat-form-field>
		</form>
		<!-- Budget dropdown
		<wselect
			class="filter-dropdown"
			[items]="budgets"
			[select]="selectedBudgetId"
			valueKey="_id"
			labelKey="name"
			(modelChange)="onBudgetChange($event)"
			placeholder=""
		></wselect>-->

		<!-- unit dropdown -->

		<wselect
			class="filter-dropdown"
			[items]="units"
			[select]="selectedUnitId"
			valueKey="_id"
			labelKey="name"
			placeholder="Category"
			[clearable]="true"
			(modelChange)="onUnitChange($event)"
		></wselect>

		<!--<div class="documents-header__title">wBudget</div>-->
	</div>

	<nav class="nav" (clickOutside)="showSidebar = false">
		<ul class="nav__ul container" [class._active]="showSidebar">
			<li class="nav__li nav__li--left account">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/profile"
					class="nav__a"
				>
					<span class="material-icons">account_circle</span>
				</a>
			</li>
			<!--<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/dashboard"
					class="nav__a"
				>
					<span class="material-icons">dashboard</span>
				</a>
			</li>
			<a
				[routerLinkActiveOptions]="{ exact: true }"
				routerLinkActive="_activeLink"
				routerLink="/budgets"
				class="nav__burger-link"
				(click)="hideSidebar()"
			>
				<span class="material-icons">account_balance_wallet</span>
			</a>-->
			<li class="nav__li nav__li--center">
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/budgets"
					class="budget-name"
					(click)="hideSidebar()"
				>
					{{ selectedBudgetName || 'Select budget' }}
				</a>
			</li>
			<li class="nav__li nav__li--right button-addtransaction">
				<button id="saveExpense" (click)="createTransaction()">
					+
				</button>
			</li>
		</ul>
	</nav>

	<div class="main" [class.showTable]="showSidebar">
		<router-outlet></router-outlet>
	</div>
</div>
