<div class="sign-wrapper">
        <div class="sign-wrapper__wrap">
                <div
                        (click)="userService.setMode(userService.mode ? '' : 'dark')"
                        class="sign-wrapper__img"
                >
                        <img [src]="logo" alt="Logo" *ngIf="logo" />
                        <icon-spider *ngIf="!logo"></icon-spider>
                </div>
                <div class="sign-wrapper__form">
                        <div class="sign-wrapper__card">
                                <span
                                        (click)="userService.setMode('dark')"
                                        class="material-icons sign-wrapper__icon"
                                        *ngIf="!userService.mode"
                                >
                                        dark_mode
                                </span>
                                <span
                                        class="material-icons sign-wrapper__icon"
                                        *ngIf="userService.mode"
                                        (click)="userService.setMode()"
                                >
                                        light_mode
                                </span>
                                <wform (wSubmit)="submit()" [submition]="user" [config]="form">
                                </wform>
                        </div>
                </div>
        </div>
</div>
