<svg
	viewBox="0 0 64 64"
	width="100%"
	height="auto"
	xmlns="http://www.w3.org/2000/svg"
	preserveAspectRatio="xMidYMid meet"
>
	<defs>
		<linearGradient
			id="goldGrad"
			x1="0"
			y1="0"
			x2="0"
			y2="64"
			gradientUnits="userSpaceOnUse"
		>
			<stop offset="0%" stop-color="#F6C93C" />
			<stop offset="100%" stop-color="#A79F1E" />
		</linearGradient>
	</defs>
	<text
		x="50%"
		y="50%"
		text-anchor="middle"
		dominant-baseline="middle"
		font-size="48"
		font-family="Arial, sans-serif"
		font-weight="bold"
		fill="url(#goldGrad)"
	>
		$
	</text>
</svg>
