<div class="transactions-header">
	<button class="create-btn" (click)="handleButtonClick(config.buttons[0])">
		<span class="material-icons">{{ config.buttons[0]?.icon }}</span>
	</button>
</div>

<div class="transactions-cards">
	<div
		class="transaction-card clickable-card"
		*ngFor="let transaction of documents"
	>
		<div class="transaction-left">
			<h3 class="transaction-note">{{ transaction.note }}</h3>
			<p class="transaction-amount">
				{{ transaction.isDeposit ? '+' : '-' }}{{ transaction.amount }}
				{{ selectedBudget?.currency }}
			</p>
		</div>
		<div class="transaction-right">
			<p class="transaction-unit">{{ transaction.unitName }}</p>
			<p class="transaction-budget">{{ transaction.budgetName }}</p>
		</div>

		<div class="transaction-actions" *ngIf="config?.buttons?.length">
			<ng-container *ngFor="let btn of config.buttons.slice(1)">
				<button
					class="action-btn"
					*ngIf="btn?.icon"
					(click)="handleButtonClick(btn, transaction); $event.stopPropagation()"
				>
					<span class="material-icons">{{ btn?.icon }}</span>
				</button>
			</ng-container>
		</div>
	</div>
</div>

<!--<wtable
	title="Transactions"
	[columns]="columns"
	[config]="config"
	[rows]="documents"
></wtable>-->
