<div class="wrapper" id="wrapper">
	<div class="documents-header">
		<div class="documents-header__title">wBudget</div>
	</div>

	<nav class="nav" (clickOutside)="showSidebar = false">
		<ul class="nav__ul container" [class._active]="showSidebar">
			<!--<a
				[routerLinkActiveOptions]="{ exact: true }"
				routerLinkActive="_activeLink"
				routerLink="/budgets"
				class="nav__burger-link"
				(click)="hideSidebar()"
			>
				<span class="material-icons">account_balance_wallet</span>
			</a>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/dashboard"
					class="nav__a"
				>
					<span class="material-icons">dashboard</span>
				</a>
			</li>-->

			<li class="nav__li nav__li--left account">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/profile"
					class="nav__a"
				>
					<span class="material-icons">account_circle</span>
				</a>
			</li>

			<li class="nav__li nav__li--center">
				<a class="budget-name" (click)="goToBudgetOrDashboard()">
					{{ selectedBudgetName || 'Select budget' }}
				</a>
			</li>
			<li class="nav__li nav__li--right button-addtransaction">
				<button id="saveExpense" (click)="createTransaction()">
					+
				</button>
			</li>
		</ul>
	</nav>

	<div class="main" [class.showTable]="showSidebar">
		<router-outlet></router-outlet>
	</div>
</div>
