<svg
	xmlns="http://www.w3.org/2000/svg"
	width="512"
	height="512"
	viewBox="0 0 24 24"
	fill="none"
	stroke="url(#gradient)"
	stroke-width="2"
	stroke-linecap="round"
	stroke-linejoin="round"
	class="feather feather-dollar-sign"
>
	<defs>
		<linearGradient id="gradient" x1="0" y1="0" x2="0" y2="1">
			<stop offset="0%" stop-color="#F8EC20" />
			<stop offset="100%" stop-color="#A79F1E" />
		</linearGradient>
	</defs>
	<line x1="12" y1="1" x2="12" y2="23"></line>
	<path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
</svg>
