.budgets-header {
	display: flex;
	justify-content: flex-end;
	margin-right: 15px;

	.create-btn {
		background-color: #1e8de2;
		color: #fff;
		border: none;
		border-radius: 6px;
		padding: 8px 16px;
		font-size: 16px;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 5px;

		span.material-icons {
			color: #fff;
			background: none;
			box-shadow: none;
		}
	}
}

.action-btn {
	background: transparent !important;
	color: #fff;
	border: none;
	padding: 6px 10px;
	border-radius: 6px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	span.material-icons {
		color: #fff;
		background: none !important;
		box-shadow: none !important;
	}
}

.budgets-cards {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 20px;
}

.budget-card {
	background: #373535;
	border-radius: 8px;
	padding: 15px 20px;
	box-shadow: 0 2px 5px rgba(20, 19, 19, 0.5);
	transition: transform 0.2s ease-in-out;
	cursor: pointer;
	position: relative;

	.budget-name {
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 5px;
		color: #fff;
	}

	.budget-amount {
		font-size: 16px;
		color: #fff;
		margin: 0 0 35px 0;
	}

	.budget-actions {
		position: absolute;
		bottom: 10px;
		right: 10px;
		display: flex;
		gap: 4px;

		.action-btn {
			background: transparent !important;
			color: #fff;
			border: none;
			border-radius: 6px;
			padding: 6px 10px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;

			span.material-icons {
				color: #fff;
				background: none !important;
				box-shadow: none !important;
			}
		}
	}
}
