<div class="w-card" [ngClass]="cardClass">
  @if (hasHeader) {
    <div class="w-card__header">
      <ng-content select="[header]"></ng-content>
    </div>
  }

  <div class="w-card__body">
    @if (!sections) {
      <ng-content></ng-content>
    }
    @for (section of sections; track section) {
      <div class="w-card__body-section">
        {{ section }}
      </div>
    }
  </div>

  @if (hasFooter) {
    <div class="w-card__footer">
      <ng-content select="[footer]"></ng-content>
    </div>
  }
</div>
