@use 'scss';
/* Фон всього календаря */
.mat-datepicker-content {
	background-color: #2c2c2c !important;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Фон полів вводу дат */
.mat-form-field-wrapper {
	background-color: #f5f5f5;
	border-radius: 4px;
	padding: 0 8px;
}

/* Початок проміжку */
.mat-calendar-body-range-start {
	background-color: #0f3257 !important;
	color: white !important;
	border-radius: 50% 0 0 50%; /* округлення лівого краю */
	z-index: 2;
}

/* Кінець проміжку */
.mat-calendar-body-range-end {
	background-color: #0f3257 !important;
	color: white !important;
	border-radius: 0 50% 50% 0; /* округлення правого краю */
	z-index: 2;
}

/* Дати всередині проміжку */
.mat-calendar-body-in-range:not(.mat-calendar-body-range-start):not(
		.mat-calendar-body-range-end
	) {
	background-color: #0f3257; /* напівпрозорий синій */
	color: white !important;
	border-radius: 0; /* без округлення всередині */
	z-index: 1;
}

/* Вибрана дата при ховері */
.mat-calendar-body-cell:hover:not(.mat-calendar-body-selected) {
	background-color: #0f3257;
}
/* Дати */
.mat-calendar-body-cell {
	color: white;
}
