.documents-wrapper {
	min-height: 100vh;

	font-family: Arial, sans-serif;
}
.circle-block {
	margin-top: 15px;
}
.documents-container {
	max-width: 420px;
	margin: auto;
	padding: 15px;
}
.circle-chart {
	width: 300px !important;
	height: 300px !important;
	border-radius: 50%;
	margin: 20px auto;
	position: relative;
}

.circle-chart-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 150px;
	background: #2f2e2e;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(214, 203, 203);
	font-weight: bold;
}

.legend-color {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 3px;
}

.documents-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.documents-header-left {
	display: flex;
	align-items: center;
	gap: 10px;
}

.documents-header-left__arrow {
	cursor: pointer;
}

.documents-header-left__avatar img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.documents-header__title {
	font-size: 18px;
	font-weight: bold;
}

.burger-wrap {
	cursor: pointer;
}
.burger {
	width: 24px;
	height: 2px;

	position: relative;
}
.burger::before,
.burger::after {
	content: '';
	position: absolute;
	left: 0;
	width: 24px;
	height: 2px;
}
.burger::before {
	top: -6px;
}
.burger::after {
	top: 6px;
}
.burger--close {
	background: transparent;
}
.burger--close::before {
	transform: rotate(45deg);
	top: 0;
}
.burger--close::after {
	transform: rotate(-45deg);
	top: 0;
}

.documents-main {
	border-radius: 16px;
}

.documents__description {
	margin-top: 15px;
	text-align: center;
	font-size: 14px;
}

.filters {
	display: flex;
	justify-content: space-around;
	margin-bottom: 15px;
}

.filter {
	cursor: pointer;
	color: #bbb;
	font-weight: bold;
	padding: 6px 10px;
	transition: 0.2s;
}

.filter.active {
	color: #ff5050;
	border-bottom: 2px solid #ff5050;
}

.summary {
	display: flex;
	justify-content: space-between;
	padding: 10px;

	border-radius: 10px;
	margin-bottom: 15px;
}
#incomeTotal {
	color: rgb(17, 176, 17);
	font-weight: bold;
}
#expenseTotal {
	color: #ec3734;
	font-weight: bold;
}

.documents-main-content {
	padding: 15px 0px;
	height: calc(100vh - 120px);
	overflow-y: auto;
	box-sizing: border-box;
}
.categories {
	background: #e1dddd;
	border-radius: 12px;
	padding: 10px;

	margin: 0;
	color: #000;
	width: 100%;

	max-height: 35vh;
	overflow-y: auto;
}

.category {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 5px;
	border-bottom: 1px solid #ddd;
}
.documents-main-content::-webkit-scrollbar {
	width: 6px;
}
.categories::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 3px;
}

.categories::-webkit-scrollbar-track {
	background: transparent;
}

.category:last-child {
	border-bottom: none;
}

.category .material-icons {
	color: #1f3a70;
	margin-right: 8px;
}

.category .name {
	flex-grow: 1;
}

.category .amount {
	font-weight: bold;
	color: #e53935;
}

#saveExpense {
	background: #e53935;
	color: #fff;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 28px;
	cursor: pointer;
	margin-top: 15px;
	transition: 0.2s;
}

#saveExpense:hover {
	background: #ff5050;
}

@media screen and (min-width: 1024px) {
	.documents-container {
		max-width: 100%;
		padding: 20px;
	}

	.documents-main {
		display: flex;
		gap: 00px;
		padding: 20px;
	}

	.circle-block {
		flex: 0 0 auto;
		margin: 0;
		margin-left: 100px;
	}

	.circle-chart {
		width: 400px !important;
		height: 400px !important;
		margin: 0;
	}

	.documents-main-content {
		flex: 1;
		max-height: 80vh;
		overflow-y: auto;
		padding: 0;
	}

	.categories {
		width: 100%;
		max-height: 100%;
	}
}
